<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div id="stock-index-content">
      <div>
        <h3>Welcome to stocks Market!</h3>
      </div>
      <div>
        <%= form_tag stocks_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search",
            placeholder: "Find your next investiment!"
          %>
        <% end %>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <% @stocks.each do |stock| %>
          <div class="card-info">
            <div class="d-flex">
              <div class="mr-4">
                <% if stock.photo.file.nil? %>
                  <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', height: '100px', weigth: '100px' %>
                <% else %>
                  <%= cl_image_tag stock.photo, height: '100px', weigth: '100px' %>
                <% end %>
              </div>
              <div>
                <div class="card-content">
                  <p><%= link_to stock.fullname, stock_path(stock) %></p>
                </div>
                <div class="card-content pb-1">
                  <%= image_tag("money-wallet.png", height: "30", widthth: "30") %>
                  <p style="padding-left: 5px; padding-top: 2px;"><%= stock.price %></p>
                </div>
                <div class="card-content variation">
                  <% if stock.variation.include?('+') %>
                    <div id="variation-positive">
                      <%= stock.variation %>
                    </div>
                  <% else %>
                    <div id="variation-negative">
                      <%= stock.variation %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
<%= render 'shared/footer' %>
