<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div id="show-stocks">
        <div class="card-grande-header">
          <div class="header-info">
            <%= cl_image_tag(@stock.photo, height: "90", width: "90") %>
            <h4><%= @stock.fullname %></h4>
          </div>
          <div class="stock-info">
            <div>
              <%= image_tag("icons8-expensive-price-48(1).png", height: "30", width: "30") %>
              <%= @stock.price %>
            </div>
            <% if @stock.variation.include?('+') %>
              <div id="variation-positive">
                <%= @stock.variation %>
              </div>
            <% else %>
              <div id="variation-negative">
                <%= @stock.variation %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="show-stocks">
        <div class="card-grande">
          <div class="wallet-info">
            <div class="stock-quantity">
              <h4 id="stock-quantity"><%= current_user.wallet[@stock.id.to_s] || 0 %></h4>
              <%= image_tag("icons8-gg-48.png", height: "30", width: "30") %>
              </div>
            <div id="stock-invested" class="stock-invested">
              <%= image_tag("icons8-expensive-price-48(1).png", height: "30", width: "30") %>
              <h4><%= current_user.wallet[@stock.id.to_s] ? @stock.price * current_user.wallet[@stock.id.to_s] : 0 %></h4>
            </div>
          </div>



          <div class="buy-sell-buttons">
            <div id="button-minus">
              <%= image_tag("arrow_mirrored.png", height: "50", width: "50", style: "transform: rotate(135deg)") %>
              <i class="fas fa-minus-circle"></i>
            </div>
            <div id="button-plus">
              <i class="fas fa-plus-circle"></i>
              <%= image_tag("arrow_mirrored.png", height: "50", width: "50", style: "transform: rotate(-30deg)") %>
            </div>
          </div>


          <div id="btn-credits">
            <div>
              <%= image_tag("icons8-expensive-price-48(1).png", height: "30", width: "30") %>
            </div>
            <div>
              <%= current_user.credits %>
            </div>

          </div>
          <!-- <div class="d-flex justify-content-around m-3">
            <div class="btn btn-warning m-2" id="confirm-order" style="color: white; font-weight: bolder;">
              Ok
            </div>
          </div> -->
          <div>
          <%= render 'new_order', stock: @stock, order: @order %>

          <div class="back-x">
            <%= link_to :back, class: "button-x" do %>
              <%= image_tag "https://cdn3.iconfinder.com/data/icons/interface/100/close_button-512.png" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>

<%= javascript_tag do %>
<%= render(:partial => 'quantity', :handlers => [:erb], :formats => [:js]) %>
<% end %>
