<h1>Stocks#show</h1>
<p>Find me in app/views/stocks/show.html.erb</p>
<p>Name: <%= @stock.name %></p>
<p>R$: <%= @stock.price %></p>

<%= simple_form_for [@stock, @order] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.error :user_insuficient_credit %>

  <div class="form-inputs">
    <%= f.input :quantity%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-primary'%>
  </div>
<% end %>


