<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="card-info-dashboard mt-3" id="dashboard-head">
         <h4 class="ml-3 mb-3">Hello, @<%= current_user.username %>!</h4>
         <p class="ml-3" style="margin-top: -15px;">Trader since <%= current_user.created_at.strftime("%B %Y") %></p>
            <div class="container">
              <div id="outbar">
                <div id="inbar">
                </div>
              </div>
              <p>XP <%= current_user.experience %>/<%= current_user.calculate_maxhp %></p>
              <h5>Level <%= current_user.calculate_level %></h5>
              <h5>Rank: <%= current_user.ranking %>º</h5>
            </div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4" id="dashboard-1">
      <div class="card-info-dashboard">
       <span style="color: #FF9EE2; margin-bottom: -30px"> ● ● ● ● ● ● ● ● ● ● ● ● </span>
       <section class="grid-container" style="margin-bottom: -20px;">
        <div class="box" id="box">
          <h4 style="color: #9E1633">TOTAL !</h4>
          <div class="card-content-dashboard justify-content-center">
            <%= image_tag("money-dashboard3.png", height: "30", width: "30") %>
            <p><%= current_user.total.round(2) %></p>
          </div>
        </div>
      </section>
      <span style="margin-left: 160px; color: #FF9EE2; margin-top: -15px">● ● ● ● ● ● ● ● ● ● ● ● </span>
      </div>
    </div>
    <%= link_to dashboard_wallet_path do %>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ml-2" id="dashboard">
      <div class="card-info-dashboard">
       <span style="color: #1AC8ED; margin-bottom: -30px"> ● ● ● ● ● ● ● ● ● ● ● ● </span>
       <section class="grid-container" style="margin-bottom: -20px;">
        <div class="box" id="box-2">
          <h4>Invested</h4>
          <div class="card-content-dashboard justify-content-center">
            <%= image_tag("money-dashboard.png", height: "30", width: "30") %>
            <p><%= invested_credits = current_user.invested_credits.round(2) %></p>
          </div>
        </div>
      </section>
      <span style="margin-left: 160px; color: #1AC8ED; margin-top: -15px;"> ● ● ● ● ● ● ● ● ● ● ● ● </span>
    </div>
  </div>
  <% end %>
  <%= link_to stocks_path do %>
  <div class="col-xs-12 col-sm-4 col-sm-offset-4 ml-2">
    <div class="card-info-dashboard" id="dashboard">
     <span  style="color: #EEBA0B; margin-bottom: -30px"> ● ● ● ● ● ● ● ● ● ● ● ● </span>
     <section class="grid-container" style="margin-bottom: -20px;">
      <div class="box" id="box-3" >
        <h4> Available</h4>
        <div class="card-content-dashboard justify-content-center">
          <%= image_tag("money-dashboard2.png", height: "30", width: "30") %>
          <p><%= current_user.credits.round(2) %></p>
        </div>
      </div>
    </section>
    <span style="margin-left: 160px; color: #EEBA0B; margin-top: -15px;"> ● ● ● ● ● ● ● ● ● ● ● ● </span>
  </div>
</div>
<% end %>

      <!-- card 2: conquistas
      infos, quanto ja investiu
      etc -->
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

<%= javascript_tag do %>
<%= render(:partial => 'levelbar', :handlers => [:erb], :formats => [:js]) %>
<% end %>
