<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-info" id="dashboard">
        <span  style="color: #824AB2;"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
            <h4>Hello, @<%= current_user.username %>!</h4>
        <!-- <div class="card-content mt-2">
            <h5>Credits:</h5><p><% credits = current_user.credits %><%= credits %></p>
        </div>
        <div class="card-content">
            <h5>Invested:</h5> <p><%= invested_credits = current_user.invested_credits %></p>
          </div> -->
        <span style="margin-left: 160px; color: #824AB2;">● ● ● ● ● ● ● ● ● ● ● ● ● </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-info" id="dashboard">
       <span style="color: #FF206E"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
       <section class="grid-container" style="margin-bottom: -10px;">
        <div class="box" id="box">
          <h4 style="color: #9E1633">Total</h4>
          <div class="card-content-dashboard justify-content-center">
            <%= image_tag("money-dashboard3.png", height: "30", width: "30") %>
            <p><%= current_user.total %></p>
          </div>
        </div>
      </section>
      <span style="margin-left: 160px; color: #FF206E;">● ● ● ● ● ● ● ● ● ● ● ● ● </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-info" id="dashboard">
       <span style="color: #1AC8ED"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
       <section class="grid-container" style="margin-bottom: -10px;">
        <div class="box" id="box-2">
          <h4>Invested</h4>
          <div class="card-content-dashboard justify-content-center">
            <%= image_tag("money-dashboard.png", height: "30", width: "30") %>
            <p><%= invested_credits = current_user.invested_credits %></p>
          </div>
        </div>
      </section>
      <span style="margin-left: 160px; color: #1AC8ED; margin-bottom: -13px;"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="card-info" id="dashboard">
     <span  style="color: #FBFF12"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
     <section class="grid-container" style="margin-bottom: -10px;">
      <div class="box" id="box-3" >
        <h4> Available</h4>
        <div class="card-content-dashboard justify-content-center">
          <%= image_tag("money-dashboard2.png", height: "30", width: "30") %>
          <p><% credits = current_user.credits %><%= credits %></p>
        </div>
      </div>
    </section>
    <span style="margin-left: 160px; color: #FBFF12; margin-bottom: -13px;"> ● ● ● ● ● ● ● ● ● ● ● ● ● </span>
  </div>
</div>

      <!-- card 2: conquistas
      infos, quanto ja investiu
      etc -->
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
