<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-info">
        <h4>Hello, <%= current_user.username %>.</h4>
        <div class="card-content">
            <h5>Credits:</h5><p><% credits = current_user.credits %><%= credits %></p>
        </div>
        <div class="card-content">
            <h5>Invested:</h5> <p><%= invested_credits = current_user.invested_credits %></p>
        </div>
        <div class="card-content">
            <h5>Total credits:</h5> <p><%= invested_credits + credits %></p>
        </div>
      </div>
    </div>
        <% if @wallet.nil? %>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card-info" id="market">
              <h4>Buy Stocks:</h4>
              <div>
                  <p><%= link_to 'Market', stocks_path %></p>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card-info" id="wallet">
              <h4>Go to your wallet:</h4>
              <div>
                  <p><%= link_to 'Wallet', dashboard_wallet_path %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card-info" id="market">
              <h4>Buy Stocks:</h4>
              <div>
                  <p><%= link_to 'Market', stocks_path %></p>
              </div>
            </div>
          </div>
        <% end %>
      <!-- card 2: conquistas
      infos, quanto ja investiu
      etc -->
    </div>
  </div>
</div>
