<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div id="stock-index-content">
      <div>
        <h3>All the users!</h3>
      </div>
      <div>
        <p>Here you can find all the Users!</p>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <% i = 3 %>
        <% @users.each_with_index do |user, index| %>
          <div class="card-info">
            <div class="d-flex align-items-center">
              <div class="mr-4">
                <% if user.photo.file.nil? %>
                  <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', class: "no-pic-users" %>
                <% else %>
                  <%= cl_image_tag user.photo, class: "avatar-users" %>
                <% end %>
              </div>
              <div>
                <div class="card-content">
                  <h5>User:</h5><p><%= user.username %></p>
                </div>
                <div class="card-content">
                  <h5>Rank:</h5>
                   <p><%= (index + 1) %>ยบ</p>
                  <% case i %>
                  <% when 3 %>
                    <%= image_tag 'gold-trophy.png'%>
                  <% when 2 %>
                    <%= image_tag 'silver-trophy.png'%>
                  <% when 1 %>
                  <%= image_tag 'bronze-trophy.png'%>
                  <% else %>
                  <%= "" %>
                  <% end %>
                </div>
                <div class="card-content">
                  <h5>Total:</h5> <p><%= user.total %></p>
                </div>
              </div>
            </div>
          </div>
        <% i -= 1 %>
        <% end %>
      </div>
  </div>
</div>
<%= render 'shared/footer' %>
