<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div id="stock-index-content">
      <div>
        <h3>Welcome to Your Wallet</h3>
      </div>
      <div>
        <p>Here you can find your all your investiments!</p>
      </div>
    <div class="card-info">
      <div class="card-content">
        <h5>Number of Stocks Invested:</h5> <p><%= current_user.number_of_stocks %></p>
      </div>
      <div class="card-content">
        <h5>Total Invested Credits:</h5> <p><%= current_user.invested_credits %></p>
      </div>
      <div class="card-content">
        <h5>Variation:</h5> <p><%= current_user.total - 10000 %></p>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <% @wallet.each do |key, value| %>
          <% if value > 0 %>
            <% stock = Stock.find(key.to_i) %>
            <div class="card-info">
              <div class="d-flex align-items-center">
                <div class="mr-4">
                  <% if stock.photo.file.nil? %>
                    <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', height: '100px', weigth: '100px' %>
                  <% else %>
                    <%= cl_image_tag stock.photo, height: '100px', weigth: '100px' %>
                  <% end %>
                </div>
                <div>
                  <div class="card-content">
                    <h5><%= link_to stock.fullname, stock_path(stock) %></h5>
                  </div>
                  <div class="card-content">
                    <h5>Price:</h5> <p><%= stock.price %></p>
                  </div>
                  <div class="card-content">
                    <h5>Quantity:</h5> <p><%= value %></p>
                  </div>
                  <div class="card-content">
                    <h5>Variation:</h5> <p><%= stock.variation %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
<%= render 'shared/footer' %>
