<%= render 'shared/navbar' %>
<div class="container">
  <div class="row" >
    <div id="stock-index-content">
      <div>
        <h3>Welcome to Your Wallet</h3>
      </div>
      <div>
        <p>Check your investiments:</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-info" id="wallet">
        <div class="card-content">
         <% if current_user.number_of_stocks == 1 %>
            <p>YAY! You own <%= "#{current_user.number_of_stocks}" %> stock.</p>
            <i class="fas fa-smile-beam"></i>
          <% elsif current_user.number_of_stocks <= 0 %>
            <p>Oops, you don't own any stocks...</p>
            <i class="fas fa-sad-cry"></i>
          <% else %>
            <p>YAY! You own <%= "#{current_user.number_of_stocks}" %> stocks!</p>
            <i class="fas fa-laugh-beam"></i>
          <% end %>
        </div>
        <div class="card-content">
          <p>Invested: <%= current_user.invested_credits.round(2) %></p>
        </div>
        <div class="card-content" id="evolution">
          <p>Evolution:</p>
           <% if current_user.evolution >= 0 %>
              <p id="variation-positive"><%= "+#{current_user.evolution.round(2)}%" %></p>
           <% else %>
              <p id="variation-negative"><%= "-#{current_user.evolution.round(2)}%" %></p>
          <% end %>
        </div>
      </div>
        <% @wallet.each do |key, value| %>
        <% if value > 0 %>
        <% stock = Stock.find(key.to_i) %>
        <div class="card-info">
          <div class="d-flex align-items-center">
            <div class="mr-4">
              <% if stock.photo.file.nil? %>
              <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', height: '100px', weigth: '100px' %>
              <% else %>
              <%= cl_image_tag stock.photo, height: '100px', weigth: '100px' %>
              <% end %>
            </div>
            <div>
              <div class="card-content">
                <p><%= link_to stock.fullname, stock_path(stock) %></p>
              </div>
              <div class="card-content">

                  <%= image_tag("money-wallet.png", height: "30", width: "30") %>
                  <p class="coin-p"><%= stock.price %></p>
                </div>
                  <div class="card-content">
                    <p>Quantity:</p> <p><%= value %></p>
                  </div>
                  <div class="card-content">
                    <% if stock.variation.include?('+') %>
                    <div id="variation-positive">
                      <%= stock.variation %>
                    </div>
                    <% else %>
                    <div id="variation-negative">
                      <%= stock.variation %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
