<div class="footer">
  <div class="footer-links <%= params[:tab] == 'stock' ? 'active' : '' %>">
    <%= link_to stocks_path(tab: 'stock'), class: "button-x" do %>
      <i class="fas fa-store"></i>
    <% end %>
  </div>
  <div class="footer-links <%= params[:tab] == 'wallet' ? 'active' : '' %>">
    <%= link_to dashboard_wallet_path(tab: 'wallet'), class: "button-x" do %>
     <i class="fas fa-wallet"></i>
    <% end %>
  </div>
  <div class="footer-links <%= params[:tab] == 'users' ? 'active' : '' %>">
    <%= link_to users_path(tab: 'users'), class: "button-x" do %>
      <i class="fas fa-users"></i>
    <% end %>
  </div>
</div>

