<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
  <h5>PlayTrade</h5>
  </div>
  <% if user_signed_in? %>
    <div class="nav-item dropdown">
      <% if current_user.photo.file.nil? %>
        <%= image_tag 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } %>
      <% else %>
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
          <div class="MenuItem" role="separator"></div>
        <%= link_to 'Profile', edit_user_path(current_user), class: "dropdown-item" %>
          <div class="MenuItem" role="separator"></div>
        <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          <div class="MenuItem" role="separator"></div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
</div>
